# Importing and Sorting Dataset (Best Practice)

# Imports

In [2]:
import pandas as pd
import json
import requests

# Creating Query and getting the Response.

In [3]:
# Now we will ask for movies data for 18 movies by providing there id.
# There also some wrong ids here.

In [4]:
api_key = 'api_key=6b5924df7b618eb4d70fc47936cad3cf'

movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397,
            420818, 24428, 168259, 99861, 284054, 12445,
            181808, 330457, 351286, 109445, 321612, 260513, 228965, 302589]

In [5]:
query = 'https://api.themoviedb.org/3/movie/{}?{}'

### Code to save multiple response into single list.

In [6]:
json_list = []
invalid_id = []
response_l = []

for m_id in movie_id:
    url = query.format(m_id, api_key)
    response = requests.get(url)
    
    response_l.append(response.status_code)
    
    if response.status_code != 200:
        invalid_id.append(m_id)
    else:
        data = response.json()
        json_list.append(data)

### Understanding how the loop is working.
my_reaponse_object.status_code

In [7]:
# 0 is a wrong movie id.

response_0 = requests.get('https://api.themoviedb.org/3/movie/{}?{}'.format(0, api_key))
response_0.status_code

404

In [8]:
invalid_id

[0, 228965, 302589]

In [9]:
print(response_l)

[404, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 404, 404]

## Creating DataFrame from response.

In [27]:
json_list 

# We got a dict in each response.
# So we have created a list of dicts
# json_list[ {id 299534 data}, {id 19995 data}, {id 140607 data}, {}, ..... ]

[{'adult': False,
  'backdrop_path': '/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 356000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'homepage': 'https://www.marvel.com/movies/avengers-endgame',
  'id': 299534,
  'imdb_id': 'tt4154796',
  'original_language': 'en',
  'original_title': 'Avengers: Endgame',
  'overview': "After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.",
  'popularity': 72.897,
  'poster_path': '/or06FN3Dka5tukK1e9sl16pB3iy.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-04-24',
  'revenue': 2797800564,
  'runtime': 181,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ja', 'name': '日本語'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'Part of the journey is the end.',
  'title': 'Avengers: Endgame',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 14380},
 {'adult': False,
  'backdrop_path': '/eS8rJ1KzRNBewx9MduiSHM4kr7S.jpg',
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'budget': 237000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://www.avatarmovie.com/',
  'id': 19995,
  'imdb_id': 'tt0499549',
  'original_language': 'en',
  'original_title': 'Avatar',
  'overview': 'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.',
  'popularity': 37.626,
  'poster_path': '/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg',
  'production_companies': [{'id': 444,
    'logo_path': '/42UPdZl6B2cFXgNUASR8hSt9mpS.png',
    'name': 'Dune Entertainment',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'},
   {'id': 290,
    'logo_path': '/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png',
    'name': 'Ingenious Media',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'},
   {'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '2009-12-10',
  'revenue': 2787965087,
  'runtime': 162,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'es', 'name': 'Español'}],
  'status': 'Released',
  'tagline': 'Enter the World of Pandora.',
  'title': 'Avatar',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 21764},
 {'adult': False,
  'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'budget': 245000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
  'id': 140607,
  'imdb_id': 'tt2488496',
  'original_language': 'en',
  'original_title': 'Star Wars: The Force Awakens',
  'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
  'popularity': 44.212,
  'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
  'production_companies': [{'id': 1634,
    'logo_path': None,
    'name': 'Truenorth Productions',
    'origin_country': 'IS'},
   {'id': 1,
    'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
    'name': 'Lucasfilm Ltd.',
    'origin_country': 'US'},
   {'id': 11461,
    'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
    'name': 'Bad Robot',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-12-15',
  'revenue': 2068223624,
  'runtime': 136,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Every generation has a story.',
  'title': 'Star Wars: The Force Awakens',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 14753},
 {'adult': False,
  'backdrop_path': '/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 300000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://www.marvel.com/movies/avengers-infinity-war',
  'id': 299536,
  'imdb_id': 'tt4154756',
  'original_language': 'en',
  'original_title': 'Avengers: Infinity War',
  'overview': 'As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.',
  'popularity': 99.709,
  'poster_path': '/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-04-25',
  'revenue': 2046239637,
  'runtime': 149,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'An entire universe. Once and for all.',
  'title': 'Avengers: Infinity War',
  'video': False,
  'vote_average': 8.3,
  'vote_count': 19114},
 {'adult': False,
  'backdrop_path': '/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg',
  'belongs_to_collection': None,
  'budget': 200000000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 597,
  'imdb_id': 'tt0120338',
  'original_language': 'en',
  'original_title': 'Titanic',
  'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.",
  'popularity': 39.912,
  'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 574,
    'logo_path': '/iB6GjNVHs5hOqcEYt2rcjBqIjki.png',
    'name': 'Lightstorm Entertainment',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1997-11-18',
  'revenue': 2187463944,
  'runtime': 194,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'fr', 'name': 'Français'},
   {'iso_639_1': 'de', 'name': 'Deutsch'},
   {'iso_639_1': 'sv', 'name': 'svenska'},
   {'iso_639_1': 'it', 'name': 'Italiano'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Nothing on Earth could come between them.',
  'title': 'Titanic',
  'video': False,
  'vote_average': 7.8,
  'vote_count': 17420},
 {'adult': False,
  'backdrop_path': '/yOCRqvrRrxbs5FYq2pX1KtLJwmR.jpg',
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'budget': 150000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.jurassicworld.com/',
  'id': 135397,
  'imdb_id': 'tt0369610',
  'original_language': 'en',
  'original_title': 'Jurassic World',
  'overview': 'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.',
  'popularity': 32.447,
  'poster_path': '/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg',
  'production_companies': [{'id': 56,
    'logo_path': '/cEaxANEisCqeEoRvODv2dO1I0iI.png',
    'name': 'Amblin Entertainment',
    'origin_country': 'US'},
   {'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Entertainment',
    'origin_country': 'US'},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'DENTSU',
    'origin_country': 'JP'},
   {'id': 862,
    'logo_path': '/udTjbqPmcTbfrihMuLtLcizDEM1.png',
    'name': 'The Kennedy/Marshall Company',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-06-06',
  'revenue': 1671713208,
  'runtime': 124,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The park is open.',
  'title': 'Jurassic World',
  'video': False,
  'vote_average': 6.6,
  'vote_count': 15839},
 {'adult': False,
  'backdrop_path': '/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg',
  'belongs_to_collection': None,
  'budget': 260000000,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'homepage': 'https://movies.disney.com/the-lion-king-2019',
  'id': 420818,
  'imdb_id': 'tt6105098',
  'original_language': 'en',
  'original_title': 'The Lion King',
  'overview': "Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.",
  'popularity': 75.095,
  'poster_path': '/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg',
  'production_companies': [{'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'},
   {'id': 7297,
    'logo_path': '/l29JYQVZbTcjZXoz4CUYFpKRmM3.png',
    'name': 'Fairview Entertainment',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2019-07-12',
  'revenue': 1656943394,
  'runtime': 118,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'The King has Returned.',
  'title': 'The Lion King',
  'video': False,
  'vote_average': 7.2,
  'vote_count': 6506},
 {'adult': False,
  'backdrop_path': '/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 220000000,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'homepage': 'http://marvel.com/avengers_movie/',
  'id': 24428,
  'imdb_id': 'tt0848228',
  'original_language': 'en',
  'original_title': 'The Avengers',
  'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
  'popularity': 53.491,
  'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2012-04-25',
  'revenue': 1519557910,
  'runtime': 143,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'hi', 'name': 'हिन्दी'},
   {'iso_639_1': 'ru', 'name': 'Pусский'}],
  'status': 'Released',
  'tagline': 'Some assembly required.',
  'title': 'The Avengers',
  'video': False,
  'vote_average': 7.7,
  'vote_count': 22842},
 {'adult': False,
  'backdrop_path': '/ehzI1mVcnHqB58NqPyQwpMqcVoz.jpg',
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/zQdytnqfsWKJlqazqfMBL2L7aql.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'budget': 190000000,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'homepage': 'http://www.furious7.com/',
  'id': 168259,
  'imdb_id': 'tt2820852',
  'original_language': 'en',
  'original_title': 'Furious 7',
  'overview': 'Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.',
  'popularity': 30.215,
  'poster_path': '/d9jZ2bKZw3ptTuxAyVHA6olPAVs.jpg',
  'production_companies': [{'id': 87857,
    'logo_path': None,
    'name': 'Abu Dhabi Film Commission',
    'origin_country': ''},
   {'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 40890,
    'logo_path': None,
    'name': 'China Film Co.',
    'origin_country': 'CN'},
   {'id': 333,
    'logo_path': '/5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png',
    'name': 'Original Film',
    'origin_country': 'US'},
   {'id': 3341,
    'logo_path': '/dTG5dXE1kU2mpmL9BNnraffckLU.png',
    'name': 'Fuji Television Network',
    'origin_country': 'JP'},
   {'id': 86352,
    'logo_path': None,
    'name': 'Québec Production Services Tax Credit',
    'origin_country': ''},
   {'id': 87858,
    'logo_path': None,
    'name': 'Colorado Office of Film, Television & Media',
    'origin_country': ''},
   {'id': 1778,
    'logo_path': '/69xm6sF3JxugGVjfZfm1YY6d7EE.png',
    'name': 'DENTSU',
    'origin_country': 'JP'},
   {'id': 2531,
    'logo_path': '/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png',
    'name': 'MRC',
    'origin_country': 'US'},
   {'id': 1225,
    'logo_path': None,
    'name': 'One Race',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-01',
  'revenue': 1515047671,
  'runtime': 137,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'Vengeance Hits Home',
  'title': 'Furious 7',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 7695},
 {'adult': False,
  'backdrop_path': '/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg',
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'budget': 250000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://marvel.com/movies/movie/193/avengers_age_of_ultron',
  'id': 99861,
  'imdb_id': 'tt2395427',
  'original_language': 'en',
  'original_title': 'Avengers: Age of Ultron',
  'overview': 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.',
  'popularity': 54.167,
  'poster_path': '/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2015-04-22',
  'revenue': 1405403694,
  'runtime': 141,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': 'A New Age Has Come.',
  'title': 'Avengers: Age of Ultron',
  'video': False,
  'vote_average': 7.3,
  'vote_count': 16235},
 {'adult': False,
  'backdrop_path': '/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg',
  'belongs_to_collection': None,
  'budget': 200000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'https://marvel.com/movies/movie/224/black_panther',
  'id': 284054,
  'imdb_id': 'tt1825683',
  'original_language': 'en',
  'original_title': 'Black Panther',
  'overview': "King T'Challa returns home from America to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantel to join with girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
  'popularity': 60.633,
  'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
  'production_companies': [{'id': 420,
    'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
    'name': 'Marvel Studios',
    'origin_country': 'US'},
   {'id': 2,
    'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
    'name': 'Walt Disney Pictures',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-02-13',
  'revenue': 1346739107,
  'runtime': 134,
  'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'},
   {'iso_639_1': 'ko', 'name': '한국어/조선말'},
   {'iso_639_1': 'sw', 'name': 'Kiswahili'},
   {'iso_639_1': 'xh', 'name': ''}],
  'status': 'Released',
  'tagline': 'Long live the king.',
  'title': 'Black Panther',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 15539},
 {'adult': False,
  'backdrop_path': '/n5A7brJCjejceZmHyujwUTVgQNC.jpg',
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',

In [10]:
# Now we will create a df from this json_list
df = pd.DataFrame(json_list)

In [11]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,...,2019-04-24,2797800564,181,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Part of the journey is the end.,Avengers: Endgame,False,8.3,14380
1,False,/eS8rJ1KzRNBewx9MduiSHM4kr7S.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,...,2009-12-10,2787965087,162,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.4,21764
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,...,2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,14753
3,False,/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,...,2018-04-25,2046239637,149,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,19114
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,...,1997-11-18,2187463944,194,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Nothing on Earth could come between them.,Titanic,False,7.8,17420
5,False,/yOCRqvrRrxbs5FYq2pX1KtLJwmR.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,...,2015-06-06,1671713208,124,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The park is open.,Jurassic World,False,6.6,15839
6,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,None,260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,...,2019-07-12,1656943394,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The King has Returned.,The Lion King,False,7.2,6506
7,False,/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,...,2012-04-25,1519557910,143,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Some assembly required.,The Avengers,False,7.7,22842
8,False,/ehzI1mVcnHqB58NqPyQwpMqcVoz.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,...,2015-04-01,1515047671,137,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,False,7.3,7695
9,False,/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,...,2015-04-22,1405403694,141,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,16235
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,None,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,...,2018-02-13,1346739107,134,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Long live the king.,Black Panther,False,7.4,15539
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,...,2011-07-07,1341511219,130,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,14107
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,...,2017-12-13,1332539889,152,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,7.0,10831
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,...,2019-11-20,1450026933,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The past is not what it seems.,Frozen II,False,7.3,5617
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,...,2018-06-06,1303459585,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The park is gone,Jurassic World: Fallen Kingdom,False,6.5,7891
15,False,/ggCYp26DcaBiGsU2KdVSlNg3y4L.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,...,2013-11-27,1274219009,102,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,12145
16,False,/7QshG75xKCmClghQDU1ta2BTaja.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,...,2017-03-16,1263521126,129,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Be our guest.,Beauty and the Beast,False,6.9,12645
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,...,2018-06-14,1242805359,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Back to work.,Incredibles 2,False,7.5,8860

In [12]:
# Now we will create a subset of the dataframe by removing unwanted columns

df = df[['id', 'title', 'revenue', 'genres', 'belongs_to_collection', 'runtime']].sort_values(by='revenue', ascending=False)

In [13]:
df

,id,title,revenue,genres,belongs_to_collection,runtime
0,299534,Avengers: Endgame,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,19995,Avatar,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,597,Titanic,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,140607,Star Wars: The Force Awakens,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,299536,Avengers: Infinity War,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,135397,Jurassic World,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,420818,The Lion King,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,24428,The Avengers,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,168259,Furious 7,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,330457,Frozen II,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
9,99861,Avengers: Age of Ultron,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,284054,Black Panther,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,181808,Star Wars: The Last Jedi,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,351286,Jurassic World: Fallen Kingdom,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,109445,Frozen,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,321612,Beauty and the Beast,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,260513,Incredibles 2,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

# Saving the data collected from API database into .json file.

In [14]:
# Now we will save this dataframe in file.
# Means saving the data collected from API database into file.

#### df.to_json()

In [15]:
df.to_json('highest_rev_top_18.json', orient='records')

In [16]:
# Now we will cross check file is saved or not

with open('highest_rev_top_18.json') as f:
    data = json.load(f)

### Manipulating the Newly created File.

In [17]:
pd.json_normalize(data)

,id,title,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,299534,Avengers: Endgame,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,19995,Avatar,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,597,Titanic,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,140607,Star Wars: The Force Awakens,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,299536,Avengers: Infinity War,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,135397,Jurassic World,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
6,420818,The Lion King,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,24428,The Avengers,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,168259,Furious 7,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/zQdytnqfsWKJlqazqfMBL2L7aql.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,330457,Frozen II,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
10,99861,Avengers: Age of Ultron,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
11,284054,Black Panther,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,NaN,NaN,NaN,NaN,NaN
12,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
13,181808,Star Wars: The Last Jedi,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.0,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
14,351286,Jurassic World: Fallen Kingdom,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
15,109445,Frozen,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
16,321612,Beauty and the Beast,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,260513,Incredibles 2,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/vWrv5Hu4TtJD1ah8XAJjZwoY86c.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [18]:
# OK so file is saved.
# Now we can also go deeper in normalization

pd.json_normalize(data, 'genres', 'title')

       id             name                                         title
0      12        Adventure                             Avengers: Endgame
1     878  Science Fiction                             Avengers: Endgame
2      28           Action                             Avengers: Endgame
3      28           Action                                        Avatar
4      12        Adventure                                        Avatar
5      14          Fantasy                                        Avatar
6     878  Science Fiction                                        Avatar
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     28           Action                                Jurassic World
17     12        Adventure                                Jurassic World
18    878  Science Fiction                                Jurassic World
19     53         Thriller                                Jurassic World
20     12        Adventure                                 The Lion King
21  10751           Family                                 The Lion King
22    878  Science Fiction                                  The Avengers
23     28           Action                                  The Avengers
24     12        Adventure                                  The Avengers
25     28           Action                                     Furious 7
26     53         Thriller                                     Furious 7
27     16        Animation                                     Frozen II
28  10751           Family                                     Frozen II
29     12        Adventure                                     Frozen II
30     28           Action                       Avengers: Age of Ultron
31     12        Adventure                       Avengers: Age of Ultron
32    878  Science Fiction                       Avengers: Age of Ultron
33     28           Action                                 Black Panther
34     12        Adventure                                 Black Panther
35     14          Fantasy                                 Black Panther
36    878  Science Fiction                                 Black Panther
37     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
38     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
39    878  Science Fiction                      Star Wars: The Last Jedi
40     28           Action                      Star Wars: The Last Jedi
41     12        Adventure                      Star Wars: The Last Jedi
42     28           Action                Jurassic World: Fallen Kingdom
43     12        Adventure                Jurassic World: Fallen Kingdom
44    878  Science Fiction                Jurassic World: Fallen Kingdom
45     16        Animation                                        Frozen
46     12        Adventure                                        Frozen
47  10751           Family                                        Frozen
48  10751           Family                          Beauty and the Beast
49     14          Fantasy                          Beauty and the Beast
50  10749          Romance                          Beauty and the Beast
51     28           Action                                 Incredibles 2
52     12        Adventure                                 Incredibles 2
53     16        Animation                                 Incredibles 2
54  10751           Family                                 Incredibles 2

# Importing and Storing Dataset (real world scenario)

In [19]:
# Somtimes people just import the data and save it into csv file. While there is nested columns in the Dataset.
# Which creates many porblems in cleaning the dataset.
# Here we will save our df into a csv file and see what happens with a dataframe when it is saved as csv file.

In [20]:
df

,id,title,revenue,genres,belongs_to_collection,runtime
0,299534,Avengers: Endgame,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,19995,Avatar,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,597,Titanic,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,140607,Star Wars: The Force Awakens,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,299536,Avengers: Infinity War,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,135397,Jurassic World,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,420818,The Lion King,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,24428,The Avengers,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,168259,Furious 7,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,330457,Frozen II,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
9,99861,Avengers: Age of Ultron,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,284054,Black Panther,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,181808,Star Wars: The Last Jedi,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,351286,Jurassic World: Fallen Kingdom,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,109445,Frozen,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,321612,Beauty and the Beast,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,260513,Incredibles 2,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

#### df.to_csv()

In [21]:
# So this is the same dataset which we will save as csv

df.to_csv("highest_rev_top_18_csv.csv", index=False)

In [22]:
df2 = pd.read_csv('highest_rev_top_18_csv.csv')

In [23]:
df2

,id,title,revenue,genres,belongs_to_collection,runtime
0,299534,Avengers: Endgame,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,19995,Avatar,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,597,Titanic,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,140607,Star Wars: The Force Awakens,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,299536,Avengers: Infinity War,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,135397,Jurassic World,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,420818,The Lion King,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,118
7,24428,The Avengers,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,168259,Furious 7,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,330457,Frozen II,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
10,99861,Avengers: Age of Ultron,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,284054,Black Panther,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,134
12,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,181808,Star Wars: The Last Jedi,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,351286,Jurassic World: Fallen Kingdom,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,109445,Frozen,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,321612,Beauty and the Beast,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,260513,Incredibles 2,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [24]:
# This is looking same as it was saved.
# Now see the nested columns.

df2['genres']

0     [{'id': 12, 'name': 'Adventure'}, {'id': 878, ...
1     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
3     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
5     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
6     [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
7     [{'id': 878, 'name': 'Science Fiction'}, {'id'...
8     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
9     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
10    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
11    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
12    [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
13    [{'id': 878, 'name': 'Science Fiction'}, {'id'...
14    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15    [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
16    [{'id': 10751, 'name': 'Family'}, {'id': 14, '...
17    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, dtype: object

In [25]:
# This is looking also the same.
# Now go deeper in nested column.

df2.genres[0]

"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]"

In [26]:
# Now there is a problem.
# This is not a list but a string.

# So when importing a list or any other Python data collection from a CSV file then pandas cannot handle
# this and it automatically assumes and creates a string and this causes many problems as we will see
# in the next case on cleaning data.